/*------------------------------------------------------------------
    HEADER
-------------------------------------------------------------------*/
.top-navbar {
  position: relative;
  z-index: 10;
}

.top-navbar .navbar {
  padding: 15px 0px;
  position: fixed;
  width: 100%;
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  z-index: 100;
}

.top-navbar .navbar-light .navbar-nav .nav-link {
  color: #010101;
  font-size: 18px;
  border-radius: 4px;
}

.top-navbar .navbar-light .navbar-nav .nav-item .nav-link:hover {
  background: #d0a772;
  color: #ffffff;
}

.top-navbar .navbar-light .navbar-nav .nav-item.active .nav-link {
  background: #d0a772;
  color: white;
  border-radius: 4px;
}

.navbar-expand-lg .navbar-nav .dropdown-menu {
  border: none;
  box-shadow: 2px 5px 6px rgba(0, 0, 0, 0.5);
}

.navbar-expand-lg .navbar-nav .dropdown-menu a.dropdown-item:hover {
  background: #d0a772;
  color: #ffffff;
}

.navbar-light .navbar-toggler:hover {
  background: #cfa671;
}

.avatar {
  vertical-align: middle;
  margin: 12px auto;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  object-fit: cover;
  margin-top: 30%;
}

#nav_avatar {
  display: flex;
}

#userAvatar {
  margin-left: 10px;
  display: flex;
}

.userName {
  padding-top: 10%;
  margin-left: 4%;
  margin: 12px 10px;
}

#logOut_user {
  border: none;
  border-radius: 5px;
  width: 60px;
  height: 40px;
  margin-top: 15px;
  background-color: white;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 25px;
}
.go_home {
  font-family: "Raleway", sans-serif;
  position: fixed;
  bottom: 4rem;
  right: 4rem;
  border: 0px !important;

  width: 4rem;
  height: 4rem;
  border-radius: 100%;
  font-size: 1.5em;
  transition: transform 0.3s ease;
  background-color: bisque;
  outline: none !important;
  &:active {
    transform: scale(0.7);
  }
}
